@import "../assets/mixins";
html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: $font-text;
    font-size: 15px;
    background-color: $terciary-color;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $breakpoint-md) {
        width: 750px;
    }
    @media (min-width: $breakpoint-lg) {
        width: 970px;
    }
    @media (min-width: $breakpoint-xl) {
        width: 1170px;
    }
}

.mt-1rem {
    margin-top: 1rem !important;
}

.mb-1rem {
    margin-bottom: 1rem !important;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-column {
    flex-flow: column;
}