$font-text: 'Roboto Mono',
sans-serif,
arial;
//Colors
$text-color: #454545;
$primary-color: #9999ff;
$secondary-color: #3d3d3d;
$terciary-color: #f8f8f8;
//Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;