$font-text: 'Nunito',
sans-serif,
arial;
//Colors
$text-color: #454545;
$primary-color: #9999ff;
$secondary-color: #000000;
$terciary-color: #ffffff;
//Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;