<div class="home">
    <h1 class="title">Informações Covid-19</h1>
    <div class="row">
        <div class="home__options">
            <a href="" class="home__options--box">
                <img src="../../assets/imgs/icon-symptom.svg" class="home__options--icon" alt="">
                <span> Entenda os sintomas </span>
            </a>
            <a href="" class="home__options--box">
                <img src="../../assets/imgs/icon-prevention.svg" class="home__options--icon" alt="">
                <span> Saiba como previnir </span>
            </a>
            <a href="" class="home__options--box">
                <img src="../../assets/imgs/icon-information.svg" class="home__options--icon" alt="">
                <span> Mantenha-se informado </span>
            </a>
        </div>
        <img src="../../assets/imgs/icon-research.svg" class="home__icon" alt="">
    </div>
</div>