<div class="home">
    <div class="container">
        <div class="row flex-column">
            <h1 class="title text">Dashboard Covid-19 </h1>
            <p class="text">Dados atualizados do Coronavírus no Brasil</p>
        </div>
        <div class="position-bottom">
            <div class="row">
                <div class="home__data">
                    <p> {{data.confirmed}} </p>
                    <span>Casos confirmados</span>
                </div>
                <div class="home__data">
                    <p> {{data.cases}} </p>
                    <span>Casos ativos</span>
                </div>
                <div class="home__data">
                    <p> {{data.deaths}} </p>
                    <span>Mortes</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="state__block" *ngFor="let state of states">
            <img [src]="getFlag(state.uf)" alt="Bandeira do estado">
            <p>{{state.uf}}</p>
        </div>
    </div>
</div>